<a href="https://colab.research.google.com/github/marciarzky/Tugas1_SLO/blob/main/Tugas1_SLO_Marcia_Rizky_Hamdala.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from sklearn import datasets

wine_bunch = datasets.load_wine()
wine_bunch.keys()

dict_keys(['data', 'target', 'target_names', 'DESCR', 'feature_names'])

In [2]:
wine_bunch['target']

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2])

In [3]:
FEATURES = wine_bunch['feature_names']
TARGET = 'species'

In [4]:
import pandas as pd

wine_df = pd.DataFrame(wine_bunch['data'], columns=FEATURES)
wine_df[TARGET] = wine_bunch['target']

wine_df.sample(10)

     alcohol  malic_acid   ash  ...  od280/od315_of_diluted_wines  proline  species
14     14.38        1.87  2.38  ...                          3.00   1547.0        0
99     12.29        3.17  2.21  ...                          2.83    406.0        1
77     11.84        2.89  2.23  ...                          2.52    500.0        1
59     12.37        0.94  1.36  ...                          1.82    520.0        1
1      13.20        1.78  2.14  ...                          3.40   1050.0        0
67     12.37        1.17  1.92  ...                          3.48    510.0        1
10     14.10        2.16  2.30  ...                          3.17   1510.0        0
154    12.58        1.29  2.10  ...                          1.55    640.0        2
109    11.61        1.35  2.70  ...                          3.26    680.0        1
18     14.19        1.59  2.48  ...                          2.82   1680.0        0

[10 rows x 14 columns]

In [5]:
wine_df.describe()

          alcohol  malic_acid  ...      proline     species
count  178.000000  178.000000  ...   178.000000  178.000000
mean    13.000618    2.336348  ...   746.893258    0.938202
std      0.811827    1.117146  ...   314.907474    0.775035
min     11.030000    0.740000  ...   278.000000    0.000000
25%     12.362500    1.602500  ...   500.500000    0.000000
50%     13.050000    1.865000  ...   673.500000    1.000000
75%     13.677500    3.082500  ...   985.000000    2.000000
max     14.830000    5.800000  ...  1680.000000    2.000000

[8 rows x 14 columns]

In [6]:
wine_df.groupby(TARGET).agg('count')

         alcohol  malic_acid  ash  ...  hue  od280/od315_of_diluted_wines  proline
species                            ...
0             59          59   59  ...   59                            59       59
1             71          71   71  ...   71                            71       71
2             48          48   48  ...   48                            48       48

[3 rows x 13 columns]

In [7]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    wine_df[FEATURES],
    wine_df[TARGET],
    test_size=0.1,
    random_state=45)

y_train.groupby(y_train).count()

species
0    54
1    62
2    44
Name: species, dtype: int64

In [8]:
y_test.groupby(y_test).count()

species
0    5
1    9
2    4
Name: species, dtype: int64

In [9]:
# Your Code Goes Here
X_train, X_test, y_train, y_test = train_test_split(
    wine_df[FEATURES],
    wine_df[TARGET],
    test_size=0.2,
    stratify=wine_df[TARGET])

print(y_train.groupby(y_train).count())
print(y_test.groupby(y_test).count())

species
0    47
1    57
2    38
Name: species, dtype: int64
species
0    12
1    14
2    10
Name: species, dtype: int64

In [10]:
from sklearn.linear_model import SGDClassifier
from sklearn.model_selection import cross_val_score

estimator = SGDClassifier()

scores = cross_val_score(
    estimator,
    X_train,
    y_train,
    cv=5
)

scores

array([0.5862069 , 0.75862069, 0.46428571, 0.67857143, 0.57142857])

In [11]:
scores.mean()

0.611822660098522

In [12]:
# Your Code Goes here
import pandas as pd

from sklearn import datasets
from sklearn.linear_model import SGDClassifier
from sklearn.metrics import make_scorer
from sklearn.metrics import f1_score
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import train_test_split

wine_bunch = datasets.load_wine()
wine_bunch.keys()

FEATURES = wine_bunch['feature_names']
TARGET = 'species'

wine_df = pd.DataFrame(wine_bunch['data'], columns=FEATURES)
wine_df[TARGET] = wine_bunch['target']

X_train, X_test, y_train, y_test = train_test_split(
    wine_df[FEATURES],
    wine_df[TARGET], 
    test_size=0.1,
    stratify=wine_df[TARGET])

# Solution Starts Here

estimator = SGDClassifier()

scores = cross_val_score(
    estimator,
    X_train[FEATURES],
    y_train,
    cv=5,
    scoring=make_scorer(f1_score, average='micro')
)


scores.mean()

0.59375

In [13]:
X_validation = X_test
y_validation = y_test

In [14]:
wine_df[FEATURES].describe()

          alcohol  malic_acid  ...  od280/od315_of_diluted_wines      proline
count  178.000000  178.000000  ...                    178.000000   178.000000
mean    13.000618    2.336348  ...                      2.611685   746.893258
std      0.811827    1.117146  ...                      0.709990   314.907474
min     11.030000    0.740000  ...                      1.270000   278.000000
25%     12.362500    1.602500  ...                      1.937500   500.500000
50%     13.050000    1.865000  ...                      2.780000   673.500000
75%     13.677500    3.082500  ...                      3.170000   985.000000
max     14.830000    5.800000  ...                      4.000000  1680.000000

[8 rows x 13 columns]

In [15]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

scaler.fit(wine_df[FEATURES])

pd.DataFrame(
    scaler.transform(wine_df[FEATURES]),
    columns=FEATURES
).describe()

            alcohol    malic_acid  ...  od280/od315_of_diluted_wines       proline
count  1.780000e+02  1.780000e+02  ...                  1.780000e+02  1.780000e+02
mean   7.841418e-15  2.444986e-16  ...                  2.126888e-15 -6.985673e-17
std    1.002821e+00  1.002821e+00  ...                  1.002821e+00  1.002821e+00
min   -2.434235e+00 -1.432983e+00  ...                 -1.895054e+00 -1.493188e+00
25%   -7.882448e-01 -6.587486e-01  ...                 -9.522483e-01 -7.846378e-01
50%    6.099988e-02 -4.231120e-01  ...                  2.377348e-01 -2.337204e-01
75%    8.361286e-01  6.697929e-01  ...                  7.885875e-01  7.582494e-01
max    2.259772e+00  3.109192e+00  ...                  1.960915e+00  2.971473e+00

[8 rows x 13 columns]

In [16]:
from sklearn.pipeline import Pipeline

estimator = Pipeline(
  steps=[
    ['scale', StandardScaler()],
    ['classifier', SGDClassifier()],
  ]
)

scores = cross_val_score(
    estimator,
    X_train[FEATURES],
    y_train,
    cv=5,
)

scores

array([0.96875, 0.96875, 0.96875, 0.96875, 0.96875])

In [17]:
scores.mean()

0.96875

In [18]:
# Your Code Goes Here
import pandas as pd

from sklearn import datasets
from sklearn.linear_model import SGDClassifier
from sklearn.metrics import make_scorer
from sklearn.metrics import f1_score
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler

wine_bunch = datasets.load_wine()
wine_bunch.keys()

FEATURES = wine_bunch['feature_names']
TARGET = 'species'

wine_df = pd.DataFrame(wine_bunch['data'], columns=FEATURES)
wine_df[TARGET] = wine_bunch['target']

X_train, X_validation, y_train, y_validation = train_test_split(
    wine_df[FEATURES],
    wine_df[TARGET], 
    test_size=0.1,
    stratify=wine_df[TARGET])

estimator = Pipeline(
  steps=[
    ['scale', StandardScaler()],
    ['classifier', SGDClassifier()],
  ]
)

scores = cross_val_score(
    estimator,
    X_train[FEATURES],
    y_train,
    cv=5,
    # We calculated F1 here too. This isn't required.
    scoring=make_scorer(f1_score, average='micro')
)

# Solution Starts Here
estimator.fit(X_train, y_train)
predictions = estimator.predict(X_validation)
f1_score(y_validation, predictions, average='micro')

1.0

In [19]:
#importing confusion matrix
from sklearn.metrics import confusion_matrix
confusion = confusion_matrix(y_validation, predictions)
print('Confusion Matrix\n')
print(confusion)

#importing accuracy_score, precision_score, recall_score, f1_score
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score
print('\nAccuracy: {:.2f}\n'.format(accuracy_score(y_validation, predictions)))

print('Micro Precision: {:.2f}'.format(precision_score(y_validation, predictions, average='micro')))
print('Micro Recall: {:.2f}'.format(recall_score(y_validation, predictions, average='micro')))
print('Micro F1-score: {:.2f}\n'.format(f1_score(y_validation, predictions, average='micro')))

print('Macro Precision: {:.2f}'.format(precision_score(y_validation, predictions, average='macro')))
print('Macro Recall: {:.2f}'.format(recall_score(y_validation, predictions, average='macro')))
print('Macro F1-score: {:.2f}\n'.format(f1_score(y_validation, predictions, average='macro')))

print('Weighted Precision: {:.2f}'.format(precision_score(y_validation, predictions, average='weighted')))
print('Weighted Recall: {:.2f}'.format(recall_score(y_validation, predictions, average='weighted')))
print('Weighted F1-score: {:.2f}'.format(f1_score(y_validation, predictions, average='weighted')))

from sklearn.metrics import classification_report
print('\nClassification Report\n')
print(classification_report(y_validation, predictions, target_names=['Class 1', 'Class 2', 'Class 3']))

Confusion Matrix

[[6 0 0]
 [0 7 0]
 [0 0 5]]

Accuracy: 1.00

Micro Precision: 1.00
Micro Recall: 1.00
Micro F1-score: 1.00

Macro Precision: 1.00
Macro Recall: 1.00
Macro F1-score: 1.00

Weighted Precision: 1.00
Weighted Recall: 1.00
Weighted F1-score: 1.00

Classification Report

              precision    recall  f1-score   support

     Class 1       1.00      1.00      1.00         6
     Class 2       1.00      1.00      1.00         7
     Class 3       1.00      1.00      1.00         5

    accuracy                           1.00        18
   macro avg       1.00      1.00      1.00        18
weighted avg       1.00      1.00      1.00        18

In [20]:
# Your Code Goes Here
import pandas as pd

from sklearn import datasets
from sklearn.linear_model import SGDClassifier
from sklearn.metrics import make_scorer
from sklearn.metrics import f1_score
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import train_test_split

wine_bunch = datasets.load_wine()
wine_bunch.keys()

dict_keys(['data', 'target', 'target_names', 'DESCR', 'feature_names'])